[data-theme="light"] {
    --bg-color: white;
    --text-color: black;
    --button-bg: blue;
    --button-text: white;
    --h2-color: purple;
    --button-width:200px;
  }
  
  [data-theme="dark"] {
    --bg-color: black;
    --text-color: white;
    --button-bg: red;
    --button-text: yellow;
    --h2-color: pink;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  button {
    background-color: var(--button-bg);
    color: var(--button-text);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    width:var(--button-width)
  }
  
  h2 {
    color: var(--h2-color);
    transition: color 0.3s ease-in-out;
  }
  

  html[lang="en"] {
    font-family: Arial, sans-serif;
  }
  
  html[lang="fr"] {
    font-family: "Comic Sans MS", cursive;
  }